---
import Layout from '../layouts/Layout.astro'
---

<Layout title="miss minutes">
	<section id="hero">
		<aside class="hero-content">
			<h1>MERHABA, MISS MINUTES!</h1>
			<p>Lorem ipsum dolor sit amet consectetur.</p>
		</aside>
		<aside class="hero-image">
			<img src="../../public/images/human.svg" alt="hero" class="human" />
		</aside>
	</section>
</Layout>