---
import Layout from '../layouts/Layout.astro'
---

<Layout title="miss minutes">
	<main>
		MERHABA, MISS MINUTES!
	</main>
</Layout>

<style lang="scss">
@import '@sass/base/variables.scss';
main {
	color: $color2;
	background: $color1;
}
</style>
