---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Nav from '../components/Nav.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<Nav />
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>

<style lang="scss" is:global>
@import '@sass/base/variables.scss';
@import '@sass/base/reset.scss';
html {
	background-color: $color1;
}
* {
	color: $color2;
}
</style>
